.title {
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
  background-color: white;
}
.length {
  display: flex;
  justify-content: space-between;

}
.blog {
  max-width: 700px;
}
